gliner
pytesseract
nltk
spacy  # Or the latest compatible version
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
xmltodict
transformers
datasets
easyocr
PyMuPDF
pypdfium2
fpdf
flask
accelerate>=0.26.0
ffmpeg 
openai-whisper